button {
    border: none;
    background-color: rgb(201, 200, 185);
    font-size: 24px;
    color: rgb(51, 50, 49);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: rgb(204, 65, 76);
}
.equals {
    grid-column: 3 / 5;
    background-color: rgb(65, 177, 108);
  }
  
.equals:hover {
    background-color: rgb(49, 153, 49);
  }
  